* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: cursive;
}
.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h2, ul, li {
    display: inline-block;
    padding: 8px 10px;
}
button {
    padding: 2px 5px;
    background-color: darkcyan;
    color: white;
    box-shadow: 0px 0px 1px 3px #000000;
}
.main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 65%;
    justify-content: center;
}
.left-bar {
    flex: 2;
}
.right-bar {
    flex: 1;
}
.profile, .education, .requests, .connections {
    box-shadow: 0px 0px 1px 3px #888888;
    margin: 30px 15px;
}
.blue {
    background-color: #17A2B8;
    height: 100px;
    box-shadow: 0px 0px 1px 3px #17A2B8;
}
#user {
    height: 100px;
    box-shadow: 0px 0px 1px 3px #888888;
    padding: 3px;
    background-color: whitesmoke;
    border-radius: 50px;
}
.info {
    position: relative;
    top: -50px;
    padding-left: 30px;
}
.icon {
    height: 15px;
}
span {
    font-size: 1.2em;
}
.bio {
    padding: 10px 0px;
}
a {
    color: #175db8;
}
.gray {
    background-color: #2A2A2A;
    box-shadow: 0px 0px 1px 3px #2A2A2A;
    color: white;
    padding: 5px 20px;
}
.edu-div {
    padding: 5px 20px;
}
.duration {
    color:#888888;
    padding-bottom: 5px;
}
.users {
    padding: 15px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-image, .check {
    width: 40px;
    border-radius: 50px;
    box-shadow: 0px 0px 1px 3px #888888;
    vertical-align: middle;
    margin: 0px 5px;
}
.more {
    padding: 15px;
    font-weight: bolder;
    box-shadow: 0px 0px 1px 3px #888888;
}
h4 > span {
    padding: 0px 10px;
    background-color: gray;
    border-radius: 50px;
    color: #2A2A2A;
}
